/* App.css */

/* Global Transition */
html {
  transition: background-color 0.3s, color 0.3s;
}

/* Light Mode Styles */
html {
  background-color: #f9f9f9; /* Light background */
  color: #333; /* Light text color */
}

/* Dark Mode Styles */
html.dark {
  background-color: #1a202c; /* Dark background */
  color: #f9f9f9; /* Light text color */
}

/* Footer Styles */
footer {
  background-color: #f9f9f9; /* Light footer background */
  color: #333; /* Light footer text color */
}

/* Dark Mode Footer */
html.dark footer {
  background-color: #1a202c; /* Dark footer background */
  color: #f9f9f9; /* Light footer text color */
}

/* Links in Dark Mode */
html.dark a {
  color: #f9f9f9; /* Light link color in dark mode */
}

html.dark a:hover {
  color: #e2e8f0; /* Light hover color */
}

/* Scrollbar styles for Dark Mode */
html.dark::-webkit-scrollbar-track {
  background-color: #1a202c; /* Dark scrollbar track */
}

html.dark::-webkit-scrollbar-thumb {
  background-color: #4a5568; /* Dark scrollbar thumb */
}

html.dark::-webkit-scrollbar-thumb:hover {
  background-color: #718096; /* Dark scrollbar thumb hover */
}
